node_modules
coverage
.vscode
.DS_Store
.eslintcache
*.log*
*.env*

# Build files
dist
drivers
build-kit

# Doc Builds
docs/site/.vitepress/dist
docs/site/.vitepress/cache

deploy-docs.sh
docs-build
output.zip
